.main-container {
    display: flex;
    height: 100%;
    background-image: url("../../assets/images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;

    .card-container {
        padding: 4rem 0 4rem 4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        max-width: 75vw;
    }

    .detail-container {
        position: fixed;
        padding: 4rem 0;
        margin-left: 74.375vw;
    }
}