<div class="navbar">
    <div class="dropdown">
        <h6>Menu</h6>
        <div class="dropdown-content">
            <ul>
                <li><a href="/pokemon-list" routerLinkActive="selected"><h6>1. Generation</h6></a></li>
                <li><a href="/pokemon-list" routerLinkActive="selected"><h6>2. Generation</h6></a></li>
                <li><a href="/pokemon-list" routerLinkActive="selected"><h6>3. Generation</h6></a></li>
            </ul>
        </div>
    </div>
    <div class="title-container">
        <h6>Pokédex</h6>
    </div>
    <img src="../../assets/images/pokeball_icon.png" alt="Ein Pokeball als Logo">
</div>