.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main);
    padding: 1rem;
    color: var(--white);

    .title-container {
        h6 {
            font-weight: 700;
        }
    }

    .dropdown {
        transition: .2s;
        position: relative;
        display: inline-block;
        z-index: 1;
        
        &:hover {
            .dropdown-content {
                display: block;
            }
        }

        h6 {
            color: var(--white);
            transition: all .2s;

            &:hover {
                color: var(--second3);
                cursor: pointer;
            }
        }
        .dropdown-content {
            display: none;
            position: absolute;
            left: -1rem;
            background-color: var(--main);
            min-width: 15rem;
            transition: all .2s;
        }

        ul {
            list-style: none;
            padding: 1rem;

            li {
                padding: 0.5rem;
                a {
                    text-decoration: none;
                }
            }
        }
    }

}

img {
    width: 2rem;
    height: 2rem;
    transition: all .2s;

    &:hover {
        transform: scale(1.2);
    }
}